<!-- todo_list/todo_app/templates/base.html -->
<!-- Base template -->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
</head>

<body>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Django To-do Lists
        </h1>
    </div>
    <div>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
        
    </div>

    <div>
        {% block content %}
        This content will be replaced by different html code for each page.
        {% endblock %}
    </div>
</body>

</html>